#contactSection{
    // display: flex;
    // justify-content: center;
    background: rgba(207, 207, 207, 0.144);
    text-align: center;
    padding: 2rem 0;
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        .socialContainer{
            justify-self: center;
            width: 300px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            font-size: 2rem;
            .iconContainer{
                a{
                    color: rgb(88, 88, 88);
                }
            }
        }
    }
    h4{
        padding: 1rem 0 .5rem 0;
        color: rgb(110, 110, 110);
    }
    h2{
        padding: .5rem;
        color: rgb(110, 110, 110);
    }
}

// TABLETS
@media only screen and (max-width: 960px){
    
}

// PHONES
@media only screen and (max-width: 960px){
    
}