#testimonial{
    padding: 7rem;
    .testimonialHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 7rem 0;
        .testimonialBgBox{
            height: 200px;
            width: 200px;
            background: #ffd5d5;
            opacity: .6;
            position: absolute;
        }
        h1{
            position: relative;
            font-size: 3.25rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 3px;
            z-index: 1;
        }
    }
    .testimonialGrid{
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: 500px;
        grid-gap: 10px;
        .innerPicture{
            font-size: 1.7rem;
            font-weight: 600;
            color: white;
            z-index: 6;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transition: background .5s ease-in-out;
            h2{
                transform: translate3d(0,-500px,0);
                transition: transform .5s ease-in-out;
            }
            &:hover{
                background: rgba(255, 0, 0, 0.4);
                h2{
                    transform: translate3d(0,0,0);
                }
            }
        }
        .leftPicture{
            background: url("https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=879&q=80")
            center
            center
            no-repeat;
            background-size: cover;
            height: 400px;
            display: flex;
            flex-flow: column;
            align-self: center;
            // justify-content: center;
            // align-items: center;
        }
        .customerTestimonial{
            padding: 3rem;
            -webkit-box-shadow: 0px 10px 45px -30px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 10px 45px -30px rgba(0,0,0,0.75);
            box-shadow: 0px 10px 45px -30px rgba(0,0,0,0.75);
            img{
                width: 150px;
                height: 100px;
                display: inline-block;
                border-radius: 5px;
            }
            .customerInfo{
                display: flex;
                .infoFlex{
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    padding: 0 1.5rem;
                    h4{
                        font-size: 1.25rem;
                        font-weight: 600;
                        letter-spacing: 1.5px;
                        text-transform: uppercase;
                        display: block;
                        color: rgb(41, 41, 41);
                    }
                    h6{
                        font-size: .8rem;
                        font-weight: 500;
                        line-height: 1.5;
                        letter-spacing: 1.5px;
                        text-transform: uppercase;
                        display: block;
                        color: rgb(185, 185, 185);
                    }
                }
            }
            p{
                font-size: 1rem;
                font-weight: 500;
                line-height: 2;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                padding: .8rem 0;
                display: block;
                color: rgb(185, 185, 185);
            }
        }
        .rightPicture{
            background: url("https://images.unsplash.com/photo-1534030347209-467a5b0ad3e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80")
            center
            center
            no-repeat;
            background-size: cover;
            height: 400px;
            display: flex;
            flex-flow: column;
            align-self: center;
        }
    }
}

// TABLETS
@media only screen and (max-width: 960px){
    #testimonial{
        padding: 7rem 0 6rem 0;
        .testimonialHeader{
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     padding: 0 0 7rem 0;
            .testimonialBgBox{
                height: 150px;
                width: 150px;
        //         background: #ffd5d5;
        //         opacity: .6;
        //         position: absolute;
            }
            h1{
        //         position: relative;
                font-size: 3rem;
        //         font-weight: 600;
        //         text-transform: uppercase;
        //         letter-spacing: 3px;
        //         z-index: 1;
            }
        }
        .testimonialGrid{
        //     display: grid;
            grid-template-columns: 12% 76% 12%;
        //     grid-template-rows: 500px;
            grid-gap: 0;
        //     .innerPicture{
        //         font-size: 1.7rem;
        //         font-weight: 600;
        //         color: white;
        //         z-index: 6;
        //         width: 100%;
        //         height: 100%;
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         overflow: hidden;
        //         transition: background .5s ease-in-out;
        //         h2{
        //             transform: translate3d(0,-500px,0);
        //             transition: transform .5s ease-in-out;
        //         }
        //         &:hover{
        //             background: rgba(255, 0, 0, 0.4);
        //             h2{
        //                 transform: translate3d(0,0,0);
        //             }
        //         }
        //     }
        //     .leftPicture{
        //         background: url("https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=879&q=80")
        //         center
        //         center
        //         no-repeat;
        //         background-size: cover;
        //         height: 400px;
        //         display: flex;
        //         flex-flow: column;
        //         align-self: center;
        //         // justify-content: center;
        //         // align-items: center;
        //     }
            // .customerTestimonial{
        //         padding: 3rem;
        //         -webkit-box-shadow: 0px 10px 45px -30px rgba(0,0,0,0.75);
        //         -moz-box-shadow: 0px 10px 45px -30px rgba(0,0,0,0.75);
        //         box-shadow: 0px 10px 45px -30px rgba(0,0,0,0.75);
        //         img{
        //             width: 150px;
        //             height: 100px;
        //             display: inline-block;
        //             border-radius: 5px;
        //         }
        //         .customerInfo{
        //             display: flex;
        //             .infoFlex{
        //                 display: flex;
        //                 flex-flow: column;
        //                 justify-content: center;
        //                 padding: 0 1.5rem;
        //                 h4{
        //                     font-size: 1.25rem;
        //                     font-weight: 600;
        //                     letter-spacing: 1.5px;
        //                     text-transform: uppercase;
        //                     display: block;
        //                     color: rgb(41, 41, 41);
        //                 }
        //                 h6{
        //                     font-size: .8rem;
        //                     font-weight: 500;
        //                     line-height: 1.5;
        //                     letter-spacing: 1.5px;
        //                     text-transform: uppercase;
        //                     display: block;
        //                     color: rgb(185, 185, 185);
        //                 }
        //             }
        //         }
        //         p{
        //             font-size: 1rem;
        //             font-weight: 500;
        //             line-height: 2;
        //             letter-spacing: 1.5px;
        //             text-transform: uppercase;
        //             padding: .8rem 0;
        //             display: block;
        //             color: rgb(185, 185, 185);
        //         }
            // }
        //     .rightPicture{
        //         background: url("https://images.unsplash.com/photo-1534030347209-467a5b0ad3e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80")
        //         center
        //         center
        //         no-repeat;
        //         background-size: cover;
        //         height: 400px;
        //         display: flex;
        //         flex-flow: column;
        //         align-self: center;
        //     }
        }
    }
}

// PHONES
@media only screen and (max-width: 767px){
    #testimonial{
        padding: 7rem 0 2rem 0;
        // .testimonialHeader{
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     padding: 0 0 7rem 0;
            .testimonialBgBox{
                height: 150px;
                width: 150px;
        //         background: #ffd5d5;
        //         opacity: .6;
        //         position: absolute;
            }
            h1{
        //         position: relative;
                font-size: 3rem;
        //         font-weight: 600;
        //         text-transform: uppercase;
        //         letter-spacing: 3px;
        //         z-index: 1;
            }
        // }
        .testimonialGrid{
        //     display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 550px;
            overflow: hidden;
            // grid-gap: 0;
        //     .innerPicture{
        //         font-size: 1.7rem;
        //         font-weight: 600;
        //         color: white;
        //         z-index: 6;
        //         width: 100%;
        //         height: 100%;
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         overflow: hidden;
        //         transition: background .5s ease-in-out;
        //         h2{
        //             transform: translate3d(0,-500px,0);
        //             transition: transform .5s ease-in-out;
        //         }
        //         &:hover{
        //             background: rgba(255, 0, 0, 0.4);
        //             h2{
        //                 transform: translate3d(0,0,0);
        //             }
        //         }
        //     }
            .leftPicture{
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                // background: url("https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=879&q=80")
                // center
                // center
                // no-repeat;
                // background-size: cover;
                background-position: center top;
                height: 100%;
                // display: flex;
                // flex-flow: column;
                // align-self: center;
                // justify-content: center;
                // align-items: center;
            }
            .customerTestimonial{
                grid-column: 1 / 3;
                grid-row: 2 / 3;
                padding: 2rem;
        //         -webkit-box-shadow: 0px 10px 45px -30px rgba(0,0,0,0.75);
        //         -moz-box-shadow: 0px 10px 45px -30px rgba(0,0,0,0.75);
        //         box-shadow: 0px 10px 45px -30px rgba(0,0,0,0.75);
        //         img{
        //             width: 150px;
        //             height: 100px;
        //             display: inline-block;
        //             border-radius: 5px;
        //         }
        //         .customerInfo{
        //             display: flex;
        //             .infoFlex{
        //                 display: flex;
        //                 flex-flow: column;
        //                 justify-content: center;
        //                 padding: 0 1.5rem;
        //                 h4{
        //                     font-size: 1.25rem;
        //                     font-weight: 600;
        //                     letter-spacing: 1.5px;
        //                     text-transform: uppercase;
        //                     display: block;
        //                     color: rgb(41, 41, 41);
        //                 }
        //                 h6{
        //                     font-size: .8rem;
        //                     font-weight: 500;
        //                     line-height: 1.5;
        //                     letter-spacing: 1.5px;
        //                     text-transform: uppercase;
        //                     display: block;
        //                     color: rgb(185, 185, 185);
        //                 }
        //             }
        //         }
        //         p{
        //             font-size: 1rem;
        //             font-weight: 500;
        //             line-height: 2;
        //             letter-spacing: 1.5px;
        //             text-transform: uppercase;
        //             padding: .8rem 0;
        //             display: block;
        //             color: rgb(185, 185, 185);
        //         }
            }
            .rightPicture{
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                // background: url("https://images.unsplash.com/photo-1534030347209-467a5b0ad3e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80")
                // center
                // center
                // no-repeat;
                // background-size: cover;
                background-position: center top;
                height: 100%;
                // display: flex;
                // flex-flow: column;
                // align-self: center;
            }
        }
    }
}